.post-image {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(25%, #f2f2f2),
    color-stop(37%, #e6e6e6),
    color-stop(63%, #f2f2f2)
  );
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
  animation: ant-skeleton-loading 1.4s ease infinite;
  height: 200px;
}

.post-image img {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.post-image--loaded {
  animation: none;
}

.post-image--loaded img {
  opacity: 1;
  visibility: visible;
}

.post-image:hover {
  opacity: 0.9;
}
